{% extends "blog/base.html" %}

{% block content %}
    {% if form.errors %}
        <p>이름과 비밀번호가 일치하지 않습니다. 다시 시도해주세요</p>
    {% endif%}
    <form class="form-horizontal" method="post" action="{% url 'login' %}" style="margin-top: 50px;">
        {% csrf_token%}
        <table class="table table-borderless">
            {{form.as_table}}
        </table>
        <input class="btn btn-defaults" type="submit" value="로그인"/>
        <a class="btn btn-defaults" href="{%url 'signup'%}">회원가입</a>
        <input type="hidden" name="next" value="{{next}}"/>
    </form>
{% endblock %}