{% extends 'blog/base.html' %}
{% block content %}
<h3>React.js</h3>
<hr>
<div id="root"></div>

<script src="https://unpkg.com/react@17/umd/react.production.min.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js" crossorigin></script>
<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

<script type="text/babel">
    function Square(props) {
        return (
            <button className="square" onClick={props.onClick} class="btn btn-default ttt">{props.value}</button>
        );
    }
    class Board extends React.Component {
        constructor(props) {
            super(props);
            this.state = {
                squares: Array(9).fill(null),
                xIsNext: true,
            };
        }

        handleClick(i) {
            const squares = this.state.squares.slice();
            if(calculateWinner(squares) || squares[i]){
                return;
            }
            squares[i] = this.state.xIsNext ? 'X' : 'O';
            this.setState({ squares: squares, xIsNext: !this.state.xIsNext, });
        }

        renderSquare(i) {
            return <Square value={this.state.squares[i]} onClick={() => this.handleClick(i)} />
        }

        render() {
            const winner = calculateWinner(this.state.squares);
            let status;
            const boardRow = [];
            let k = 0;
            for(let i = 0;i<3;i++){
                const squares=[];
                for(let j = 0;j<3;j++){
                    squares.push(this.renderSquare(3*i+j));
                    k++
                }
                boardRow.push(<div key={k} className="board-row">{squares}</div>)
            }
            if (winner) {
                status = 'Winner : ' + winner;
            } else {
                status = 'Next Player : ' + (this.state.xIsNext ? 'X' : 'O')
            }
            return (
                <div>
                    <div className="status">{status}</div>
                    {boardRow}
                </div>
            );
        }
    }
    class Game extends React.Component {
        render() {
            return (
                <div className="game">
                    <div className="game-board">
                        <Board />
                    </div>
                </div>
            )
        }
    }

    ReactDOM.render(
        <Game />,
        document.getElementById('root')
    );

    function calculateWinner(squares) {
        const lines = [
            [0, 1, 2],
            [3, 4, 5],
            [6, 7, 8],
            [0, 3, 6],
            [1, 4, 7],
            [2, 5, 8],
            [0, 4, 8],
            [2, 4, 6],
        ];
        for (let i = 0; i < lines.length; i++) {
            const [a, b, c] = lines[i];
            if (squares[a] && squares[a] === squares[b] && squares[a] === squares[c]) {
                return squares[a];
            }
        }
        return null;
    }

</script>

{% endblock %}