{% extends 'blog/base.html' %}
{% block content %}
<h3>Vue.js</h3>
<hr>
<div id="app">
     <todo-header></todo-header>
     <todo-input v-on:add-todo="addTodo"></todo-input>
     <todo-list v-bind:propsdata="todoItems" v-on:remove-todo="removeTodo" v-on:edit-todo="editTodo"></todo-list>
     <todo-footer v-on:clear-todo="clearTodo"></todo-footer>
</div>
<hr>
<div id="mapapp"></div>
<script>
//===================  vue todo ===================
     var todoHeader = {
          template: '<div><h4>todo!</h4></div>',
     }
     var todoInput = {
          template: `<div class="input-group" style="margin-bottom:15px;">
                         <span class="input-group-addon"><span class="glyphicon glyphicon-ok"></span></span>
                         <input type="text" class="form-control" v-model="newTodoItem"  v-on:keyup.enter="addTodo">
                         <span class="input-group-btn"><button class="btn btn-default" v-on:click="addTodo"><strong>Add</strong></button></span>
                    </div>`,
          data: function () {
               return {
                    newTodoItem: ''
               }
          },
          methods: {
               addTodo: function () {
                    if (this.newTodoItem !== '') {
                         var value = this.newTodoItem && this.newTodoItem.trim();
                         this.$emit('add-todo', value);
                         this.clearInput();
                    }
               },
               clearInput: function () {
                    this.newTodoItem = '';
               }
          }
     }
     var todoList = {
          props: ['propsdata'],
          template: `<div>
                              <div class="input-group" v-if="flag">
                                   <input class="form-control" v-model="editItem" v-on:keyup.enter="editTodo(editItem)">
                                   <input type="hidden" v-model="index">
                                   <input type="hidden" v-model="todoItem">
                                   <span class="input-group-btn"><button class="btn btn-default" v-on:click="editTodo(editItem)"><strong>Edit</strong></button></span>
                              </div>
                         <transition-group name="list" tag="ul">
                              <li class="shadow" v-for="(todoItem, index) in propsdata" :key="todoItem">
                                   <span class="checkBtn glyphicon glyphicon-ok"></span>
                                   &#123;&#123;todoItem&#125;&#125;
                                   <span class="listBtn">
                                   <span class="btn editBtn glyphicon glyphicon-pencil" v-on:click="editOpen(todoItem, index)"></span>
                                   <span class="btn removeBtn glyphicon glyphicon-trash" v-on:click="removeTodo(todoItem, index)"></span>
                                   </span>
                              </li>
                         </transition-group>
                     </div>`,
          data : function(){
               return {
                    flag : false,
                    editItem : '',
                    todoItem : '',
                    index : 0,
               }
          },
          methods: {
               removeTodo: function (todoItem, index) {
                    this.$emit('remove-todo', todoItem, index)
               },
               editOpen : function(todoItem, index){
                    this.flag = !this.flag
                    this.index = index
                    this.editItem = todoItem
                    this.todoItem = todoItem
               },
               editTodo : function(editItem){
                    this.$emit('edit-todo', editItem, this.index, this.todoItem)
                    this.flag = !this.flag
               }
          },
     }
     var todoFooter = {
          template: `<div>
                         <button class="btn btn-default" v-on:click="clearTodo()">Clear All</button>
                     </div>`,
          methods: {
               clearTodo: function () {
                    this.$emit('clear-todo')
               }
          }
     }

     var app = new Vue({
          el: '#app',
          components: {
               'todo-header': todoHeader,
               'todo-input': todoInput,
               'todo-list': todoList,
               'todo-footer': todoFooter,
          },
          data: function () {
               return {
                    todoItems: []
               }
          },
          methods: {
               addTodo: function (value) {
                    localStorage.setItem(value, value);
                    this.todoItems.push(value);
               },
               removeTodo: function (todoItem, index) {
                    localStorage.removeItem(todoItem);
                    this.todoItems.splice(index, 1);
               },
               clearTodo: function () {
                    localStorage.clear();
                    this.todoItems = [];
               },
               editTodo : function(editItem, index, todoItem){
                    localStorage.removeItem(todoItem)
                    localStorage.setItem(editItem, editItem)
                    this.todoItems[index] = editItem
               }
          },
          created: function () {
               if (localStorage.length > 0) {
                    for (var i = 0; i < localStorage.length; i++) {
                         this.todoItems.push(localStorage.key(i));
                    }
               }
          },
     })
//===================  vue api map ===================
     var apiUrl = 'http://www.nsdi.go.kr/lxportal/zcms/nsdi/platform/openapi.html'
     var authkey = '7c573a3211524d12a21ce955590ee5d0'
  
     var mapapp = new Vue({
          el : '#mapapp',
          template : `<div>
                         <div id="vuemap"  style="height: 400px; width:50%;border: solid 1px;"></div>
                         <transition-group name="list" tag="select" class="form-control" style="width:50%;" v-model="selectedMap">
                         <option v-for="data in dataList" v-bind:value="data.obj_seq" :key="data.obj_seq">&#123;&#123;data.obj_kname&#125;&#125;</option>
                         </transition-group>
                         <button class="col-md-3 btn btn-primary drawlayer" v-on:click="drawMap"><span class="glyphicon glyphicon-pencil"></span></button>
                     </div>`,
          data : function(){
               return {
                    map : new Object,
                    dataset : '',
                    bboxResult : new Object,
                    userCenter : new Object,
                    dataList : new Array,
                    selectedMap : '20180918DS00006'
               }
          },
          mounted : function(){
               this.map = new pf.GeoView("vuemap", "vworld", true, true);
               this.map.baseMap.getView().setCenter(ol.proj.transform([948988.4139031649, 1947273.5479532676], 'EPSG:3857', 'EPSG:3857'));
               this.map.baseMap.getView().setZoom(13);//지도 표출 레벨 설정
               this.map.baseMap.getView().setMinZoom(10);//지도 최소레벨 설정
               this.map.baseMap.getView().setMaxZoom(16);//지도 최대레벨 설정
               this.map.baseMap.updateSize();

               axios.post(apiUrl, null,{
                    params : {
                         'apitype':'dataList',
                         'authkey':authkey,
                    },
               }).then(function(response){
                    console.log(response)
                    for(key in response.data){
                         this.dataList.push({'obj_seq' : response.data[key].OBJ_SEQ , 'obj_kname': response.data[key].OBJ_KNAME})
                    }
               }.bind(this))
               .catch(function(error){
                    console.log(error)
               })
          },
          methods : {
               drawMap : function(){
                    var data;
                    axios.post(apiUrl,null, {params : {
                         'apitype': 'data',
                         'resulttype': 'geojson',
                         'datasets': this.selectedMap,
                         'bbox': '833650.614474257,1943286.5512082838,970380.2826180774,1961733.2057452637',
                         'authkey': authkey,
                    }}).then(function(response){
                         data = response
                         var name = dataList.filter((obj) => {
                         if(obj.obj_seq === this.selectedMap){
                         return obj.obj_kname
                         }
                    })
                         this.map.addMapViLayer(data, "geojson","layer","legend","SGG_OID",null,name,'EPSG:5179')
                    }.bind(this))
               }
          }
     })

     function drawMap(map){
          var data;
          $.ajax({
                    type: "POST",
                    data: {
                        'apitype': 'data',
                        'resulttype': 'geojson',
                        'datasets': '12845',
                        'bbox': '833650.614474257,1943286.5512082838,970380.2826180774,1961733.2057452637',
                        'authkey': authkey,
                    },
                    dataType: "json",
                    async: false,
                    traditional: true,
                    url: apiUrl,
                    success: function (response) {
                        data = response;
                    }
                })

          map.addMapViLayer(data, "geojson","layer","legend","SGG_OID",null,"샘플 데이터",'EPSG:5179')
     }

</script>
{% endblock %}