{% extends 'blog/base.html' %}
{% block content %}
<h3>Vue.js</h3>
<hr>
<div id="app">
    <counter></counter><br>
    <counter></counter><br>
    <counter></counter>
</div>
<script>
    Vue.component('counter',{
        template:`<div><h3 v-text="counter"></h3>
                  <button v-on:click="counter += 1" class="btn btn-default">+1</button>
                  <button v-on:click="counter = 0" class="btn btn-default">0</button></div>
                 `,
        data:function(){
            return {counter:0}
        },
    })
    new Vue({
        el:'#app',
    })
</script>
{% endblock %}